# gitignore
ssh*

# ignore log files
*.e*
*.o*
*.ER
*.OU
*logs*/

# ignore compiled rmd files
*.html

# ignore random test bits
*test*.*
*test*/

# old things that will not be used/updated
*deprecated*/
*old*/
.Rproj.user
